﻿@{
	Specials.User user = Specials.SessionHelper.GetSessionData(Context.Session).User;
}
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<script type="text/javascript" src="~/scripts/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="~/scripts/vue.js"></script>
	<link rel="stylesheet" href="~/style.css" />
	<script type="text/javascript">
		var data = {
			email: '@user.Email'
		}
	</script>
</head>
<body style="margin:10px">
	<div id="app" style="padding:10px; width:250px; margin:auto">
		<div class="dlgRow">
			<h3>Account Info</h3>
		</div>
		<div class="dlgRow">
			<label>Email</label><br />
			<input v-bind:disabled="!editMode" class="stdInput" value="hello" v-model="username" autofocus />
		</div>
		<div class="dlgRow">
			<label>Password</label><br />
			<input v-bind:disabled="!editMode" class="stdInput" type="password" v-model="password" />
		</div>
		<div v-show="editMode" class="dlgRow">
			<label>Confirm Password</label><br />
			<input class="stdInput" type="password" v-model="confirmPassword" />
		</div>
		<div v-show="error" class="errorDiv dlgRow">
			<span>{{error}}</span>
		</div>
		<div class="dlgRow">
			<button v-on:click="editMode = !editMode">{{editMode? 'Cancel':'Edit'}}</button>
			<button v-show="editMode" v-on:click="saveChanges()">Save</button>
		</div>
		<div class="dlgRow">
			<a href="/">Home</a>
		</div>
	</div>
	<script type="text/javascript" src="~/scripts/account.js"></script>
</body>
</html>