﻿@using Specials;
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<script type="text/javascript" src="/scripts/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/scripts/vue.js"></script>
	<link rel="stylesheet" href="style.css" asp-append-version="true" />
	<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Kalam" rel="stylesheet">
	<script type="text/javascript">
		var data = {
			loggedIn: @Json.Serialize(Context.IsSignedIn()),
		}
	</script>
</head>
<body>
	<div id="overlay"></div>
	<div id="mobileIndicator"></div>
	<div id="app">
		<div id="taglist" v-show="showTags">
			<div class="tag" v-on:click="addTag(tag)" v-for="(tag, idx) in taglist">{{tag}}</div>
		</div>

		<div id="menu" v-show="showMenu">
			<button v-on:click="newCompany()" class="orangeBt">Add Company</button><br />
			<button onclick="window.location.assign('/home/account')" class="orangeBt">My Account</button><br />
			<button v-on:click="signOut()" class="orangeBt">Sign out</button>
		</div>

		<div id="header">
			<div id="headerLogo">
				<span>Boise Specials</span>
			</div>
			<div style="position:absolute; left:10px; top:10px">
				<button class="outlineButton" id="btMapToggle" v-on:click="toggleMap">{{mapMode == 1 ? 'List':'Map'}}</button>
			</div>
			<div style="position:absolute; right:10px; top:10px">
				<button class="outlineButton" v-show="!loggedIn" v-on:click="login()">Sign in</button>
				<button id="btMenu" class="outlineButton" v-show="loggedIn" v-on:click="openMenu()">Menu</button>
			</div>
			<div id="headerbar">
				<button class="outlineButton" id="btTags" v-on:click="toggleTags()">Tag Filter +</button>
				<span class="tag2" v-on:click="removeTag(tag)" v-for="(tag, idx) in selTags">{{tag}}</span>
			</div>
		</div>

		<div id="map" v-show="mapMode != 2"></div>
		<div id="listings" v-show="mapMode != 1">
			<div class="company half" v-on:click="editCompany(company)" v-for="(company, index) in filteredList">
				<div class="inner" v-bind:class="{selected : company.selected}">
					<div class="cheader">
						<div>
							<span style="font-size:20px;">{{company.name}} </span><br/>
							<span style="font-size:14px">
								<span>{{company.address}}</span>
								<span style="white-space:nowrap" v-if="company.phone">&nbsp;{{company.phone}}</span>
								<span v-if="company.website">&nbsp;<a target="_blank" v-bind:href="company.website">website</a></span>
							</span>
						</div>
						<div style="clear:both"></div>
					</div>
					<div class="items">
						<div class="entry" v-for="entry in company.entries">
							<span>{{entry.name}}</span>
							<span>{{entry.price}}</span>
							<span>{{entry.when}}</span>
						</div>
					</div>
					@*<div class="coTags">
						<span class="tag" v-for="(tag, idx) in company.tags">
							{{tag}}
						</span>
					</div>*@
				</div>
			</div>

			<div id="footer">
				<div>About: Some amazing sentence about what we are about</div>
				<br />
				<div>
					<a href="info@boisespecials.com">info@boisespecials.com</a>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>

	<div id="loginDlg" class="dialog" v-show="isOpen" >
		<div class="header">
			Sign In
		</div>
		<form id="loginForm">
			<div class="dlgRow">
				<label>Email</label><br />
				<input class="stdInput" v-model="username" ref="email" />
			</div>
			<div class="dlgRow">
				<label>Password</label><br />
				<input class="stdInput" type="password" v-model="password" />
			</div>
			<div v-show="error" class="errorDiv dlgRow">
				<span>{{error}}</span>
			</div>
			<div style="float:right">
				<button type="submit" class="orangeBt">Sign in</button>
			</div>
			<div style="float:left">
				<button type="button" class="grayBt" v-on:click="register()">Register</button><br/>
				<button type="button" class="grayBt" v-on:click="resetPassword()">Forgot Password</button><br/>
				<button type="button" class="grayBt" v-on:click="close()">Cancel</button>
			</div>
			<div style="clear:both"></div>
		</form>
	</div>

	<div id="registerDlg" class="dialog" v-show="isOpen">
		<div class="header">
			Register
		</div>
		<div>
			<div class="dlgRow">
				<label>Email</label><br />
				<input class="stdInput" v-model="username" autofocus />
			</div>
			<div class="dlgRow">
				<label>Password</label><br />
				<input class="stdInput" type="password" v-model="password" />
			</div>
			<div class="dlgRow">
				<label>Confirm Password</label><br />
				<input class="stdInput" type="password" v-model="confirmPassword" />
			</div>
			<div v-show="error" class="errorDiv dlgRow">
				<span>{{error}}</span>
			</div>
			<div style="text-align:right">
				<button class="orangeBt" v-on:click="close()">Cancel</button>
				<button class="orangeBt" v-on:click="register()">Create Account</button>
			</div>
		</div>
	</div>

	<div id="entryDlg" class="dialog" v-show="isOpen" style="min-width:300px">
		<div class="header">
			Edit Entry
		</div>
		<div>
			<div class="dlgRow">
				<label>Name</label><br />
				<input class="stdInput" v-model="entry.name" />
			</div>
			<div class="dlgRow">
				<label>Price</label><br />
				<input class="stdInput" v-model="entry.price" />
			</div>
			<div class="dlgRow">
				<label>When</label><br />
				<input class="stdInput" v-model="entry.when" />
			</div>
			<div style="text-align:right">
				<button class="orangeBt" v-on:click="deleteEntry()">X</button>
				<button class="orangeBt" v-on:click="close()">Cancel</button>
				<button class="orangeBt" v-on:click="save()">Save</button>
			</div>
		</div>
	</div>

	<div id="editDlg" class="dialog" v-show="isOpen">
		<div v-show="showTagList" id="editTagList">
			<div class="tag2" v-bind:class="{selected : isTagSelected(tag)}" v-on:click="addTag(tag)" v-for="(tag, idx) in taglist">{{tag}}</div>
			<div style="text-align:center; position:absolute; bottom:10px"><button v-on:click="showTagList = false" class="orangeBt">Close</button></div>
		</div>
		<div class="header">
			Edit Company
		</div>
		<div>
			<div class="dlgRow">
				<label>Name</label><br />
				<input class="stdInput" v-model="company.name" />
			</div>
			<div class="dlgRow">
				<label>Address</label><br />
				<input class="stdInput" v-model="company.address" />
			</div>
			<div class="dlgRow">
				<label>Phone</label><br />
				<input class="stdInput" type="tel" v-model="company.phone" />
			</div>
			<div class="dlgRow">
				<label>Website</label><br />
				<input class="stdInput" v-model="company.website" />
			</div>
			<div class="dlgRow">
				<label>Tags (comma separated)</label><br />
				<input class="stdInput" v-model="tags" readonly style="width:75%" />
				<button v-on:click="showTagList = !showTagList" class="orangeBt" style="width:20%">Change</button>
			</div>
			<div style="margin:10px 0px">
				<h4 style="margin:0;">Specials</h4>
				<div v-on:click="editEntry(entry)" class="entry" v-for="entry in company.entries">
					<span>{{entry.name}}</span>
					<span>{{entry.price}}</span>
					<span>{{entry.when}}</span>
				</div>
			</div>
			<div v-show="errors.length > 0" class="errorDiv dlgRow">
				<div v-for="error in errors">{{error}}</div>
			</div>
			<div style="float:left;">
				<button class="orangeBt" v-on:click="addEntry()">Add Special</button>
			</div>
			<div style="float:right">
				<button class="orangeBt" v-on:click="close()">Cancel</button>
				<button class="orangeBt" v-on:click="save()">Save</button>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>

	<script type="text/javascript" src="~/scripts/home.js" asp-append-version="true"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMFu11aBFPTFcSdl-N_LES2hKvzE4rPUA&callback=initMap">
	</script>
</body>
</html>