#overlay{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0;
	background-color:black;
	visibility: hidden;
	transition: visibility .3s, opacity .3s;
}

form{
	margin: 0;
	padding: 0;
}

#overlay.active{
	opacity:.15;
	visibility: visible;
	transition: visibility 0s, opacity .3s;
}

.dialog{
	position:fixed;
	max-height:100%;
	overflow:auto;
	border:3px solid #666;
	top:0px;
	left:0px;
	background-color:#eee;
	box-sizing:border-box;
	padding:14px;

	button{
		margin:4px;
	}
}

.dialog .header{
	color:black; 
	font-size:20px; 
	font-weight:bold;
	margin-bottom:10px;
}

.footer {
	text-align: right;
	margin-top:10px;
}

.dlgRow{

	label {
		display: block;
		margin-bottom: 5px;
	}
	
	margin-bottom:.7em;

	input, select, textarea {
		width:100%;
	}
}

#loginDlg, #registerDlg{
	width: 300px;
}

.noMarginButtons{
	button{
		margin: 0;
	}
}