[contenteditable]:focus {
	outline: 0 solid transparent;
}

#wysiwyg {
	background: white;
	border: 2px solid black;
}

#quillDiv {
	font-size: 1.1em;
	margin: 10px;

	.active {
		background: khaki;
	}

	img.selected {
		}
}

#toolbox {
	background: white;
	border-bottom: 2px solid #333;
	display: flex;
	z-index: 1000;

	&.hidden {
		display: none;
	}

	.tools {
		display: flex;
	}

	.tool {
		display: inline-block;
		padding: 4px;
		margin: 0 2px;
		cursor: pointer;
		font-size: 24px;

		i {
			font-size: 24px;
			padding-top: 2px;
		}

		&.active {
			background: lightblue;
			cursor: default;
		}

		&:hover:not(.active) {
			background: #ddd;
		}
	}
}

.ql-align-right {
	text-align: right;
}

.ql-align-center {
	text-align: center;
}

.ql-clipboard {
	display: none;
}

.ql-editor.ql-blank {
	background-color: khaki;
}

#imgDlg {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}
