@import 'settings';

#header {
	margin-bottom: 10px;
}

#btAccount,
#btLogin {
	display: flex;
	align-items: center;
	background: $color-navbar;
	color: white;
	border: none;

	i {
		font-size: 1.4em;
		margin-right: 6px;
	}

	&:hover {
		background: $color-navbarDark;
	}
}

#logo {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	color: white;
}

#mainLogo {
	font-size: 3em;
}

#topbar {
	display: flex;
	align-items: center;
	padding: 0 14px;
	background-color: $color-navbar;
	border-bottom: 1px solid $color-navbar;
	height: 60px;
}

#navbar {
	background-color: $color-navbar;
	color: white;
	display: flex;
	align-items: center;
	font-size: 0;
	min-height: 30px;
}

#navbar a {
	margin: 0;
	padding: 10px 14px;
	display: inline-block;
	color: white;
	font-size: 18px;

	&:hover:not(.disabled) {
		background-color: $color-navbarDark;
	}

	&.disabled {
		opacity: .75;
		cursor: default;
	}
}

#accountMenu {
	right: 0;
	margin-top: 6px;
	background: white;
	border: 2px solid $color-navbarDark;
	display: flex;
	box-shadow: none;

	button:not(:first-child) {
		margin-left: 6px;
	}
}

#footer {
	background: gray;
	min-height: 20px;
	margin-top: 10px;

	&.sticky {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}