#editProvider {
	display: flex;

	textarea {
		resize: vertical;
	}

	#images {
		margin-left: 20px;
		width: 250px;
		border: 2px solid #333;
		padding: 6px;
		flex-shrink: 0;

		img {
			width: 100%;
			border: 2px solid black;
		}

		.imageDiv {
			position: relative;

			.removeOverlay {
				position: absolute;
				display: none;
				width: 100%;
				height: 100%;
				background: rgba(1,1,1,.3);
				color: white;
				font-size: 2em;
				top: 0;
				align-items: center;
				justify-content: space-around;
				cursor: pointer;
			}

			&:hover {
				.removeOverlay {
					display: flex;
				}
			}
		}
	}

	#tags {
		.tag {
			display: inline-block;
			background: indianred;
			color: white;
			padding: 4px 6px;
			margin: 2px;
			cursor: default;
			border-radius: 3px;

			button {
				border: none;
				background: transparent;
				padding: 0;
			}
		}

		#tagOptions {
			position: absolute;
			overflow: auto;
			border: 1px solid black;
			background: white;

			span {
				display: block;
				cursor: pointer;
				padding: 10px;

				&:hover {
					background: yellow;
				}
			}
		}
	}
}

#provider {
	#images {
		width: 200px;
		background: pink;

		img {
			width: 100%;
			border: 2px solid black;
			cursor: pointer;
		}
	}
}
