@media (max-width: 1240px){
	#main{
		width: auto;
		margin: 0 20px;
	}

	#quickTags{
		display: none;
	}
}

@media (max-width: 700px){
	#statement{
		display:none;
	}

	#menuBt{
		display: block;
	}

	#tagsDlg{
		max-width: 90%;
	}
}