#search {
	margin-bottom: 20px;

	#locationBox {
		text-align: left;
		margin-top: 10px;
	}
}

#searchDiv {
	display: flex;
	position: relative;

	#tbSearch {
		border-radius: 5px;
		width: 400px;
		font-size: 1.4em;

		&::placeholder {
			color: #bbb;
		}
	}

	#btSearch {
		font-size: 1.5em;
		border-radius: 50%;
		margin-left: 10px;
		outline: none;
	}

	#searchTerms {
		position: absolute;
		text-align: left;
		background: white;
		border: 1px solid black;
		top: 40px;
		width: 100%;
		box-sizing: border-box;

		> div {
			padding: 6px;
			cursor: pointer;

			&.highlight,
			&:hover {
				background-color: khaki;
			}
		}
	}
}

#items {
	display: block;
}

.provider {
	cursor: pointer;
	padding: 4px;

	> div {
		margin-bottom: 4px;
	}

	.name {
		font-size: 1.2em;
		color: #3b3be0;
	}

	&:hover {
		background: white;
		border-radius: 5px;
	}
}
