@import 'settings';
@import 'dialog';
@import 'header';
@import 'search';
@import 'provider';

html {
	height: 100%;
}

body {
	color: #333;
	font-size: 16px;
	font-family: "Open Sans",arial,x-locale-body,sans-serif;
	width: 100%;
	background-color: white;
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

[v-cloak] {
	display: none;
}

.flat {
	margin: 0;
}

.flatHeader {
	margin-top: 0;
}

.flatBottom {
	margin-bottom: 0;
}

.material-icons {
	font-size: 1em;
	vertical-align: text-top;
}

a,
a:active,
a:link,
a:visited {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

#main {
	width: 1200px;
	margin: auto;
	flex-grow: 1;
}

table.basic {
	td,
	th {
		padding: 2px 8px;
	}
}

button {
	padding: 4px 6px;
	border: 1px solid $color-navbar;
	background-color: white;
	font-size: 1.0em;
	border-radius: 5px;
	cursor: pointer;

	&.transparent {
		background-color: transparent;
	}

	&:hover {
		background-color: white;
	}

	&.blue {
		color: white;
		background-color: $color-navbar;

		&:hover {
			background-color: $color-navbarDark;
			border-color: $color-navbarDark;
		}
	}
}

#home {
	text-align: center;
}

.inner {
	display: inline-block;
}

input,
select {
	padding: 4px;
	border: 1px solid $color-navbar;
	background-color: white;
	font-size: 1.0em;
	border-radius: 5px;
}

.router-link-active {
	color: red;
}

#menuBt {
	margin: 0;
	display: none;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.dropDownMenu {
	position: absolute;
	box-shadow: 0 0 4px rgba(0,0,0,.25);
	background: #555;
	padding: 10px;
}

#statement {
	font-size: 1.1em;
	margin-left: 10px;
}

#starButton {
	display: inline-block;
}

.errorPane {
	background-color: #c77e7e;
	padding: 20px;
	font-size: 1.2em;
	color: white;
}

#commonList {
	text-align: left;
	display: flex;

	a {
		display: block;
		font-size: 1.2em;
		margin-bottom: 2px;
	}

	div:not(:first-child) {
		margin-right: 20px;
	}
}

#moreTasks {
	text-align: left;

	a {
		display: block;
		font-size: 1.2em;
		margin-bottom: 4px;
	}
}

#bookmarks {
	text-align: left;
}

#imageDlg {
	padding: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition-property: opacity;
	transition-duration: .25s;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}
@import 'editor';
@import 'responsive';