<div style="padding:10px; font-size:1.0em;" class="dialog noMarginButtons">
	<input v-model="link" style="width:300px" />
	<button @click="save()"><i class="material-icons">check</i></button>
	<button @click="preview()"><i class="material-icons">search</i></button>
	<button @click="close()"><i class="material-icons">delete</i></button>
</div>