<div class="dialog">
	<div class="dlgrow">
		<label>Latitude</label>
		<input v-model="latitude" />
	</div>
	<div class="dlgrow">
		<label>Longitude</label>
		<input v-model="longitude"/>
	</div>
	<div class="dlgrow">
		<label>Type</label>
		<input v-model="placeType"/>
	</div>
	<div class="footer">
		<button @click="search()">Search</button>
		<button @click="close()">Close</button>
	</div>
</div>