<div id="loginDlg" class="dialog">
	<div class="header">
		Sign In
	</div>
	<form id="loginForm" @submit.prevent="login()">
		<div class="dlgRow">
			<label>Email</label>
			<input class="stdInput" v-model="username" ref="email" name="username" />
		</div>
		<div class="dlgRow">
			<label>Password</label>
			<input class="stdInput" type="password" v-model="password" name="password" />
		</div>
		<div v-show="error" class="errorDiv dlgRow">
			<span>{{error}}</span>
		</div>
		<div style="float:right">
			<button type="submit" class="blue">Sign in</button>
		</div>
		<div style="float:left">
			<button type="button" @click="register()">Create Account</button><br/>
			<button type="button" @click="resetPassword()">Forgot Password</button><br/>
			<button type="button" @click="close()">Cancel</button>
		</div>
		<div style="clear:both"></div>
	</form>
</div>