<div id="registerDlg" class="dialog" >
	<div class="header">
		Register
	</div>
	<div>
		<div class="dlgRow">
			<label>Email</label>
			<input class="stdInput" v-model="username" autofocus />
		</div>
		<div class="dlgRow">
			<label>Name</label>
			<input class="stdInput" v-model="name" />
		</div>
		<div class="dlgRow">
			<label>Password</label>
			<input class="stdInput" type="password" v-model="password" />
		</div>
		<div class="dlgRow">
			<label>Confirm Password</label>
			<input class="stdInput" type="password" v-model="confirmPassword" />
		</div>
		<div v-show="error" class="errorDiv dlgRow">
			<span>{{error}}</span>
		</div>
		<div style="text-align:right">
			<button v-on:click="register()">Create Account</button>
			<button v-on:click="close()">Cancel</button>
		</div>
	</div>
</div>