<div style="padding:10px; width:250px; margin:auto">
	<div class="dlgRow">
		<h3>Account Info</h3>
	</div>
	<div class="dlgRow">
		<label>Email</label>
		<input v-bind:disabled="!editMode" class="stdInput" v-model="username" autofocus />
	</div>
	<div class="dlgRow">
		<label>Name</label>
		<input v-bind:disabled="!editMode" class="stdInput" v-model="name" />
	</div>
	<div class="dlgRow">
		<label>Password</label>
		<input v-bind:disabled="!editMode" class="stdInput" type="password" v-model="password" />
	</div>
	<div v-show="editMode" class="dlgRow">
		<label>Confirm Password</label>
		<input class="stdInput" type="password" v-model="confirmPassword" />
	</div>
	<div v-show="error" class="errorDiv dlgRow">
		<span>{{error}}</span>
	</div>
	<div class="dlgRow">
		<button v-show="editMode" class="blue" v-on:click="saveChanges()">Save</button>
		<button v-on:click="toggleEditMode()">{{editMode? 'Cancel':'Edit'}}</button>
	</div>
</div>