<div>
	<h1>Welcome to the Admin Page</h1>
	<table class="basic">
		<thead>
			<td>Email</td>
			<td>Name</td>
			<td>Last Login</td>
			<td>Create Date</td>
		</thead>
		<tbody>
			<tr v-for="user in users">
				<td>{{user.email}}</td>
				<td>{{user.name}}</td>
				<td>{{user.lastLoginDate | formatDate}}</td>
				<td>{{user.createDate | formatDate}}</td>
			</tr>
		</tbody>
	</table>
</div>