<span>
	<a @click="app.fireEvent('save-provider')">
		<i class="material-icons">save</i> Save Changes</a>
	<a @click="app.fireEvent('cancel-edit')">
		<i class="material-icons">close</i> Cancel</a>

	<span v-if="provider.id && (provider.ownerId == state.account.id || !provider.ownerId)">
		<a @click="app.fireEvent('delete-article')">
			<i class="material-icons">delete</i> Delete</a>
	</span>
</span>