<div id="editProvider">
	<div style="flex-grow: 1">
		<h2 class="flatHeader" v-if="isNew">Add Provider</h2>
		<h2 class="flatHeader" v-else>Edit Provider</h2>
		<div class="dlgRow">
			<label>Name*</label>
			<input v-model="provider.name" v-focus/>
		</div>

		<div class="dlgRow">
			<label>Short Description</label>
			<input v-model="provider.desc"/>
		</div>

		<div class="dlgRow">
			<label>Tags</label>
			<tags :provider="provider"></tags>
		</div>

		<div style="width: 400px">
			<h3>Contact Information</h3>
			<div class="dlgRow">
				<label>City*</label>
				<input v-model="provider.city" />
			</div>

			<div class="dlgRow">
				<label>State*</label>
				<select v-model="provider.state">
					<option v-for="state in states">{{state}}</option>
				</select>
			</div>

			<div class="dlgRow">
				<label>Phone</label>
				<input v-model="provider.phone" />
			</div>

			<div class="dlgRow">
				<label>Website</label>
				<input v-model="provider.website" />
			</div>
		</div>

		<div class="dlgRow">
			<label>I am the owner of this service
				<input v-model="amOwner" type="checkbox" />
			</label>
		</div>

		<wysiwyg ref="editor"></wysiwyg>
	</div>

	<div id="images">
		<div class="imageDiv" v-for="img in profile.images">
			<img :src="'/'+profile.folder+'/'+img" />
			<div class="removeOverlay" @click="removeImage(img)">remove</div>
		</div>
		<button @click="addImage()">Add Image</button>
		<input type="file" id="tbImage" style="display: none" accept=".png, .jpg, .jpeg" />
	</div>

	<!-- <div class="footer">
		<button v-if="isNew" class="blue" @click="save()">Create</button>
		<button v-else class="blue" @click="save()">Save Changes</button>
		<button @click="close()">Cancel</button>
	</div> -->
</div>