<div id="home">
	<div class="inner">
		<h1 id="mainLogo">ZEUS</h1>
		<search></search>
	</div>
	<br/>
	<div id="bookmarks" class="inner" v-if="state.signedIn && state.bookmarks.length">
		<h4>Bookmarks</h4>
		<provider v-for="provider in state.bookmarks" :provider="provider" :key="provider.id"></provider>
	</div>
	<br/>
	<div class="inner">
		<br/>
		<div id="moreTasks">
			<a @click="addNewProvider()">Add new service</a>
			<router-link to="faq">Frequently Asked Questions</router-link>
		</div>
	</div>
</div>