<span>
	<a v-if="state.route != '/'" @click="app.goto('/')"><i class="material-icons">home</i> Home</a>
	<span v-if="state.signedIn">
		<a @click="app.goto('/edit/provider')"><i class="material-icons">mode_edit</i> Add Provider</a>
	</span>
</span>