<div id="provider">
	<h1>{{provider.name}}</h1>
	<div class="provider">
		<div>
			<span v-for="tag in provider.tags">{{tag}}</span>
		</div>
		<div>
			<span>City:
				<b>{{provider.city}}</b>
			</span>
			<span>Phone:
				<b>{{provider.phone}}</b>
			</span>
			<span>Website:
				<a>{{provider.website}}</a>
			</span>
		</div>
		<div>
			<span>
				<b>{{provider.referrals}}</b> referrals</span>
			<span>
				<b>2</b> comments</span>
		</div>
	</div>
	<div id="profileHTML" v-html="profile.html">

	</div>

	<div id="images">
		<div v-for="img in profile.images" @click="viewImage(img)">
			<img :src="'/'+profile.folder+'/'+img" />
		</div>
	</div>
</div>