<span>
	<a @click="app.goto('/')">
		<i class="material-icons">home</i> Home</a>
	<span v-if="state.signedIn">

		<a v-if="!provider.bookmarked" @click="bookmark()">
			<i class="material-icons">bookmark</i> Bookmark</a>
		<a v-else @click="deleteBookmark()">
			<i class="material-icons">bookmark</i> Bookmarked</a>

		<span v-if="provider.ownerId == state.account.id || !provider.ownerId">
			<a @click="edit()">
				<i class="material-icons">mode_edit</i> Edit</a>
		</span>
	</span>
</span>