<div id="header">
	<div id="topbar">
		<h1 v-if="!state.onHome" id="logo" @click="app.goto('/')">ZEUS</h1>
		<span style="flex-grow: 1"></span>
		<div v-if="state.signedIn">
			<div style="position: relative" v-dropDownMenu>
				<button class="transparent" @click="toggleMenu()" id="btAccount">
					<i class="material-icons">account_circle</i>
					<span>{{name}}</span>
				</button>
				<div id="accountMenu" class="dropDownMenu" v-show="isMenuOpen">
					<button v-if="state.account.isAdmin" @click="app.goto('/admin')">Admin</button>
					<button @click="account()">account</button>
					<button @click="logout()">Logout</button>
				</div>
			</div>
		</div>
		<div v-else>
			<button class="transparent" @click="login()" id="btLogin">
				<i class="material-icons">account_circle</i>
				<span>Login</span>
			</button>
		</div>
	</div>
	<div style="clear: both"></div>
	<div id="navbar" class="clearfix inner" v-if="!state.onHome">
		<div style="width: 1200px; margin: auto;">
			<router-view id="navbarItems" name="navbar"></router-view>
			<span style="flex-grow:1"></span>
		</div>
	</div>
</div>