<div id="search">
	<div id="searchDiv">
		<input id="tbSearch" v-model="searchText" @keydown="onKeyDown($event)" placeholder="Find local home services" @focus="showTerms = true"
		 @blur="showTerms = false" />
		<div id="searchTerms" v-show="showTerms">
			<div v-for="(term, index) in terms" @mousedown="search(term)" :class="{highlight:index==hlIndex}">
				{{term}}
			</div>
		</div>
		<button id="btSearch" class="blue" @click="search(searchText)">
			<i class="material-icons">search</i>
		</button>
	</div>
	<div id="locationBox">
		<a @click="editLocation()">{{state.location.city}}, {{state.location.state}}</a>
	</div>
</div>