<div id="tags">
	<span class="tag" v-for="tag in tags">
		<span>{{tag}}</span>
		<button @click="removeTag(tag)"><i class="material-icons">close</i></button>
	</span>
	<input v-model="newTag" @keydown.enter="addTag(newTag)" @focus="showOptions = true" @blur="showOptions = false"/>
	<div id="tagOptions" v-show="showOptions">
		<span v-for="tag in tagList" @mousedown="addTag(tag)">
			{{tag}}
		</span>
	</div>
</div>